@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

button {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

h1 {
    color: #fff;
    text-shadow: 1px 1px #000;
}

/* ----- HEADER ----- */

.header {
    overflow: hidden;
    background-color: #e3e3e3;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    margin-right: 10px;
}

.header i.fa {
    margin-right: -5px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    margin-right: 5%;
}

.header a:hover {
    background-color: #d2d2d2;
    color: #000;
    border-radius: 30px;
}

.nav {
    float: none;
}

.nav a.btn.active {
    border-radius: 30px;
    background-color: #2e86ff;
    color: #fff;
}

/* ----- MAIN  -----*/

.container {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;

    background: #eee;
    background: #222;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.column-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.Reader {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.main-card {
    display: block;
    margin: 0.5%;
    text-align: center;
    background-color: #343a40;
    border-radius: 5px;
    height: 230px;
    /*ALTURA*/
    /*esto solo es para test*/
    width: 180px;
    /*ANCHURA*/
    /*esto solo es para test*/
    transition: .2s;
}

.main-card:hover {
    box-shadow: 0px 0px 1px 1px #00baff;
    transform: scale(1.05) rotate(1deg);
}

.main-card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
    object-fit: cover;
    transition: .2s;
}

/* ----- CARD CONTENT ----- */

.CC {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.CHP {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    padding: 7px;
    text-align: left;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

.CHP b {
    float: right;
    text-shadow: none;
    font-size: 10px;
}

.CT {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    line-height: 15px;
    font-size: 12px;
    text-shadow: 1px 1px #222;
    border-radius: 0px 0px 5px 5px;
}

.type.manga .CHP {
    background: rgba(121, 134, 203, 0.8);
}

.type.manhua .CHP {
    background: rgba(141, 110, 99, 0.8);
}

.type.manwha .CHP {
    background: rgba(129, 199, 132, 0.8);
}

.type.cleanned .CHP {
    background: rgba(167, 167, 167, 0.8);
}

/* ----- SERIE CARD  -----*/

.serie-card {
    display: block;
    margin: 0.7%;
    text-align: center;
    background-color: #343a40;
    border-radius: 5px;
    /*ALTURA*/
    height: 200px;
    /*ANCHURA*/
    width: 300px;
    transition: .2s;
}

.serie-card:hover {
    box-shadow: 0px 0px 1px 1px #00baff;
    transform: scale(1.05) rotate(1deg);
}

.serie-card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
    object-fit: cover;
    transition: .2s;
}

/* ----- FICHA DEL MANGA  -----*/

.Serie {
    background-color: #2a2a2a;
    width: 100%;
    padding: 1%;
}

.Serie .info {
    display: inline-table;
    margin-left: 10px;
}

.Serie .card {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.card.type::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 2px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.card.type.manga::before {
    content: "MANGA";
    background-color: #7986cb;
    text-shadow: 1px 1px #000;
}

.card.type.manwha::before {
    content: "MANWHA";
    background-color: #81c784;
    text-shadow: 1px 1px #000;
}

.card.type.manhua:before {
    content: "MANHUA";
    background-color: #8d6e63;
    text-shadow: 1px 1px #000;
}

.Serie img {
    width: 250px;
    border-radius: 10px;

}

.Serie .title {
    margin: 5px;
}

.Serie .sinopsis {
    height: 100px;
}

.Serie .generos {
    margin: 20px 5px;
}

.generos i {
    font-size: 14px;
    margin-right: 5px;
    background-color: #008ae0;
    border-radius: 10px;
    padding: 0px 10px;
    text-shadow: none;
}

.Serie .alter {
    height: 60px;
}

.alter i {
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 1px 10px;
    margin-right: 10px;
    font-size: 13px;
}

.Serie .estado {}

/* ----- LISTA DE CAPS  -----*/

.ChpList {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.ChpList .charapter {
    background-color: #bababa;
    color: #222;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.ChpList .charapter i {
    float: right;
}

.ChpList .active,
.charapter:hover {
    background-color: #dbdbdb;
}

.ChpList .options {
    padding: 0 20px;
    background-color: #bebebe;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0.5%;
}

.ChpList a {
    background-color: #222;
    color: #eee;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    float: left;
    margin: 10px 5px;
    transition: .2s;
    text-decoration: none;
}

.ChpList a.ver {
    float: right;
}

.ChpList a:hover {
    background: #3d3d3d;
    box-shadow: 0px 0px 0.5px 0.5px #00baff;
    transform: scale(1.05) rotate(1deg);
}

/* ----- READER  -----*/

.Reader.Cascade {
    text-align: center;
}

.Reader.Cascade img {
    width: 70%;
    margin: -3.5px;
}

.Reader.Head {
    background-color: #006cff;
    text-align: center;
    padding: 1px;
}

.Reader.Head h1,
h2,
p {
    color: #fff;
    text-shadow: 1px 1px #000;
    margin: 5px;
}

.Reader.Head i {
    animation: 1s infinite alternate dirc;
}

@keyframes dirc {
    from {
        margin-left: 0%;
        width: 4%;
    }

    to {
        margin-right: 0%;
        width: 2%;
    }
}

.Reader.Options {
    padding: 0.5%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: all 0.2s ease-in-out;
}

.Reader.Options.top button {
    font-size: 10px;
    padding: 5px 15px;
}

.Reader.Options button {
    color: #fff;
    background-color: #2a2a2a;
    border: none;
    padding: 10px 30px;
    margin: 0px 2px;
    border-radius: 5px;
    transition: .2s;
    text-decoration: none;
}

.Options button:hover {
    background-color: #006cff;
    transform: scale(1.07) rotate(-1.5deg);
}

/* ----- FOOTER  -----*/

.footer {
    padding: 10px;
    background-color: #1c1c1c;
    text-align: center;
    font-size: 16px;
    color: #bbb;
    text-decoration: none;
}

.footer p {
    font-size: 11px;
}

.footer a {
    color: #2ac0ff;
}

/* ----- EXTRA  -----*/

.Titulo {
    text-align: left;
    font-size: 20px;
    margin: 15px 10px;
    color: #bababa;
    line-height: 15px;
}

.Icolors {
    text-align: center;
    font-size: 11px
}

.Icolors span {
    margin-right: 10px;
}

.Icolors .manga {
    color: #7986cb;
}

.Icolors .manwha {
    color: #81c784;
}

.Icolors .manhua {
    color: #8d6e63;
}

.Icolors .cleanned {
    color: #bbb;
}

.Icolors .fa {
    margin-right: -7px;
}

.separador {
    height: 1px;
    overflow: hidden;
    width: 100%;
    margin: 1% 0%;
}

.separador.black {
    background-color: black;
}

.separador.gray {
    background-color: gray;
}

[class*=fa-]:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: inherit;
    line-height: inherit;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
}

[class*=-right]:before {
    margin-left: 10px;
}

/* ----- RESPONSIVE HEAD -----*/

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .nav {
        float: none;
    }
}

/* ----- RESPONSIVE COLUMN -----*/

@media screen and (max-width: 800px) {

    .column-left,
    .column-right,
    .ChpList {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .serie-card {
        width: 48%;
    }
}

@media screen and (max-width: 603px) {
    .main-card {
        width: 49%;
    }
    .Reader.Options {
        padding: 2%;
    }
    .Reader.Options button {
        margin-bottom: 1%;
        padding: 2%;
    }
}